# Specify a 'Vary: Accept-Encoding' header
<FilesMatch "\.(js|css|xml|gz)$">
   Header append Vary: Accept-Encoding
</FilesMatch>

# Set a far future cache policy in 2 requests
#Expire Header
<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|swf)$">
   ExpiresDefault "access plus 2 hours"
</FilesMatch>
