<footer class="site-footer">
  <link rel="stylesheet" type="text/css" href="/assets/css/robin.css">
  <p> &copy; 2015 Robin Wen. All Rights Reserved.</p>
  <a href="http://webscan.360.cn/index/checkwebsite/url/dbarobin.com" name="ec281f91d51d1308c35253525feae078" >360网站安全检测平台</a>
   <div id="totop" class="mytotop">
      <a title="Back To Top"><img alt="Scrollup to home page of dbarobin.com" src="/images/scrollup.png"/></a>
   </div>

<script type="text/javascript" defer="defer" src="/assets/js/vendor/jquery-1.9.1.min.js"></script>
<!-- Page view counter JS -->
<script type="text/javascript" defer="defer" src="//service.ibruce.info/busuanzi/2.0/busuanzi.mini.js"/></script>
<script type="text/javascript" defer="defer" src="/assets/js/totop.js"></script>
</footer>
