<div class="sidebar-module">
    <h4>推荐</h4>
    <a href="https://www.binancezh.com/cn/register/?ref=11190872" title="币安是全球领先的数字货币交易平台，提供比特币、以太坊、BNB 以及 USDT 交易，目前上架的币种数量为 166 个。" target="_blank">币安</a>
    <a href="https://bitfinex.com/?refcode=YY_G7svd" title="Bitfinex 是主要数字资产和加密货币（包括比特币、以太坊、EOS、莱特币、瑞波币、NEO、门罗币和许多其他货币）的全功能现货交易平台。" target="_blank">LEO</a>
    <a href="https://www.huobi.co/zh-cn/topic/invited/?invite_code=szre3" title="火币，OTC 成交量最大的交易所" target="_blank">火币</a>
    <a href="https://www.gate.io/signup/619472" title="The Gate of Blockchain Assets Exchange" target="_blank">Gate</a>
    <a href="https://www.vultr.com/?ref=8028399-4F" title="VPS 推荐" target="_blank">Vultr</a>
    <a href="https://partner.lizhi.io/robin/cp" title="正版软件，尽在数码荔枝，lizhi.io" target="_blank">正版</a>
</div>
