<span class="social-share-twitter">
  <a href="https://twitter.com/intent/tweet?hashtags={{ page.tags | join: ',' | remove: ' ' }}&amp;text={{ page.title | escape | replace:' ','%20' }}&amp;url={{ site.url }}{{ page.url }}{% if author.twitter %}&amp;via={{ author.twitter }}{% endif %}" title="Share on Twitter" itemprop="Twitter"><i class="fa fa-twitter-square"></i> Tweet</a>
</span>
<span class="social-share-facebook">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" itemprop="Facebook"><i class="fa fa-facebook-square"></i> Like</a>
</span>
<span class="social-share-googleplus">
  <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus" itemprop="GooglePlus"><i class="fa fa-google-plus-square"></i> +1</a>
</span>
<span class="social-share-qzone">
<a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{ site.url }}{{ page.url }}" title="Share on QZone" itemprop="QZone"><img src="http://i.imgur.com/pksExvG.png" title="QZone" height="16px" width="16px" border="0" alt="QZone"/> QZone</a>
</span>
<span class="social-share-weibo">
<a href="http://service.weibo.com/share/share.php?url={{ site.url }}{{ page.url }}" title="Share on Weibo" itemprop="Weibo"><i class="fa fa-weibo"></i> Weibo</a>
</span>
<!-- /.social-share -->
